@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: 0;
  outline: none;
}

/* Hide scrollbar but allow scrolling */
html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.bebas-neue-font {
  font-family: "Bebas Neue", sans-serif;
}

.dancing-script-font {
  font-family: "Dancing Script", cursive;
  /* color: #36363690; */
}

@keyframes growShrink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.animate-grow-shrink {
  animation: growShrink 1s ease-in-out infinite;
}

@keyframes growShrink2 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-grow-shrink2 {
  animation: growShrink2 1s ease-in-out infinite;
}

/* @keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 20s linear infinite;
}
